/**
* Initialize
**/

.popupmenu__contents {
    .popupmenu__volume-slider {
            &::-webkit-slider-runnable-track {
                background-color: $aiqlickSecondary;
            }

            &::-moz-range-track {
                background-color: $aiqlickSecondary;
            }

            &::-ms-fill-lower {
                background-color: $aiqlickSecondary;
            }
        }
}
